FRIGATE_RESTREAM_USERNAME==###########################
FRIGATE_RESTREAM_PASSWORD==###########################
FRIGATE_WEBCAM_RTSP_USERNAME==########################
FRIGATE_WEBCAM_RTSP_PASSWORD==########################
FRIGATE_TAPO1_RTSP_USERNAME==#########################
FRIGATE_TAPO1_RTSP_PASSWORD=##########################