# Optional, but strongly recommended
GOVEE_EMAIL=#############@#####.####
GOVEE_PASSWORD=###############################
# Optional, but recommended
GOVEE_API_KEY=################################

GOVEE_MQTT_HOST=################
GOVEE_MQTT_PORT=1883 # Change if needed

# Comment out if your mqtt broker down not require authentication
GOVEE_MQTT_USER=####
GOVEE_MQTT_PASSWORD=############

# Specify the temperature scale to use, either C for Celsius
# or F for Farenheit
GOVEE_TEMPERATURE_SCALE=F

# Always use colorized output
RUST_LOG_STYLE=always

# If you are asked to set the debug level, uncomment the next line
#RUST_LOG=govee=trace

